.button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
}

.password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
}
