.gradient{
    -fx-background-color: linear-gradient(to bottom right,#000000,#8c8484) ;
}
.white-form{
    -fx-background-color: #fff;
}
.head-label{
    -fx-border-color: #cc2626;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}
.login-btn{
    -fx-background-color: linear-gradient(to bottom right,#891b1b ,#a7473e );
    -fx-background-radius:5px ;
    -fx-cursor: hand ;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.login-btn:hover {
    -fx-background-color: linear-gradient(to bottom right,#891b1b,#ff0000);

}